

<div class="row well" style="margin-top: 20px">
    <div class="col-md-12">
        <div class="col-md-3">
            <label>Age</label>
            <select id="age" class="form-control">
                <option value="0">Any</option>
                <option value="1">18 - 25</option>
                <option value="2">26 - 30</option>
                <option value="3">31 - 40</option>
                <option value="4">40 Above</option>
            </select>
        </div>

        <div class="col-md-3">
            <label>City</label>
            <select id="city" class="form-control">
                <option value="">Any</option>
                <option value="Lahore">Lahore</option>
                <option value="Islamabad">Islamabad</option>
                <option value="Faisalabad">Faisalabad</option>
                <option value="karachi">Karachi</option>
            </select>
        </div>
        
        <div class="col-md-2">
            <label>Marital Status</label>
            <select id="maritalStatus" class="form-control">
                <option value="">Any</option>
                <option value="Never">Never Married</option>
                <option value="Married">Married</option>
                <option value="Divorced">Divorced</option>
                <option value="Widowed">Widowed</option>
            </select>
        </div>

        <div class="col-md-2">
            <label>Bride/Groom</label>
            <select id="gender" class="form-control">
                <option value="female">Brides</option>
                <option value="male">Groom</option>
            </select>
        </div>
        <div class="col-md-2">
            <a role="button" id="find" class="btn btn-success"><i class="fa fa-search"></i>Find</a>
        </div>
    </div>
</div>