body {
	padding-top: 50px;
    padding-bottom: 0px;
	/*background-color: #eee;
	color: black;*/
}

#lol {
    background: url("/Images/img/4.jpg");
}

.starter-template {
	padding: 40px 0px;
	text-align: center;
}

.navbar {
	text-transform: uppercase;
}

#header {
padding: 30px 0;
background: none repeat scroll 0 0 #F1F1F1;
margin-top: -14px;
}

.navbar-brand > img {
	margin-top:-12px;
}

.footer {
	font-family: 'Comic Sans MS';
	font-size: 16px;
	position: fixed;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 45px;
}

.container {
	font-family: 'Comic Sans MS';
}

.container .text-muted {
	margin: 10px 0;
}

.container-fluid, h1, h2, h3, h4, h5, h6 {
	font-family: 'Comic Sans MS';
	/*font-size: 16px;*/
}

.about-section {
	width: 100%;
	height: auto;
}

.footer {
	/*background:#375a7f;*/
	height: 35px;
	position: static;
	fit-position: bottom;
	background-position: bottom;
	/*padding: 20px 0 5px;*/
}

p.copyright {
	color: #fff;
	text-align: center;
}

h1.heading {
	color: skyblue;
	font-family: 'Comic Sans MS'
}

.span3 {
	width: 220px;
}

/* .nice_fnt { */
/* font-family: "Open Sans","Helvetica Neue","Helvetica",Arial,Verdana,sans-serif; */
/* font-weight: 300; */
/* } */

/* #footer h3 { */
/* color: #308CCF; */
/* margin-bottom: 5px; */
/* text-transform: uppercase; */
/* } */

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 550px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 550px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 550px;
}

.featurette-divider {
	margin: 10px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

.label {
	font-size: large;
	text-align: left;
	height: 30px;
}

.timeline {
	position: relative;
	padding: 0;
	list-style: none;
}

.timeline:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 40px;
	width: 2px;
	margin-left: -1.5px;
	background-color: #f1f1f1;
}

.timeline>li {
	position: relative;
	margin-bottom: 50px;
	min-height: 50px;
}

.timeline>li:before, .timeline>li:after {
	content: " ";
	display: table;
}

.timeline>li:after {
	clear: both;
}

.timeline>li .timeline-panel {
	float: right;
	position: relative;
	width: 100%;
	padding: 0 20px 0 100px;
	text-align: left;
}

.timeline>li .timeline-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}

.timeline>li .timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}

.timeline>li .timeline-image {
	z-index: 100;
	position: absolute;
	left: 0;
	width: 80px;
	height: 80px;
	margin-left: 0;
	border: 7px solid #f1f1f1;
	border-radius: 100%;
	text-align: center;
	color: #fff;
	background-color: cadetblue;
}

.timeline>li .timeline-image h4 {
	margin-top: 12px;
	font-size: 10px;
	line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
	float: right;
	padding: 0 20px 0 100px;
	text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}

.timeline>li:last-child {
	margin-bottom: 0;
}

.timeline .timeline-heading h4 {
	margin-top: 0;
	color: inherit;
}

.timeline .timeline-heading h4.subheading {
	text-transform: none;
}

.timeline .timeline-body>p, .timeline .timeline-body>ul {
	margin-bottom: 0;
}

@media ( min-width :768px) {
	.timeline:before {
		left: 50%;
	}
	.timeline>li {
		margin-bottom: 100px;
		min-height: 100px;
	}
	.timeline>li .timeline-panel {
		float: left;
		width: 41%;
		padding: 0 20px 20px 30px;
		text-align: right;
	}
	.timeline>li .timeline-image {
		left: 50%;
		width: 100px;
		height: 100px;
		margin-left: -50px;
	}
	.timeline>li .timeline-image h4 {
		margin-top: 16px;
		font-size: 13px;
		line-height: 18px;
	}
	.timeline>li.timeline-inverted>.timeline-panel {
		float: right;
		padding: 0 30px 20px 20px;
		text-align: left;
	}
}

@media ( min-width :992px) {
	.timeline>li {
		min-height: 150px;
	}
	.timeline>li .timeline-panel {
		padding: 0 20px 20px;
	}
	.timeline>li .timeline-image {
		width: 150px;
		height: 150px;
		margin-left: -75px;
	}
	.timeline>li .timeline-image h4 {
		margin-top: 30px;
		font-size: 18px;
		line-height: 26px;
	}
	.timeline>li.timeline-inverted>.timeline-panel {
		padding: 0 20px 20px;
	}
}

@media ( min-width :1200px) {
	.timeline>li {
		min-height: 170px;
	}
	.timeline>li .timeline-panel {
		padding: 0 20px 20px 100px;
	}
	.timeline>li .timeline-image {
		width: 190px;
		height: 190px;
		margin-left: -85px;
	}
	.timeline>li .timeline-image h4 {
		margin-top: 40px;
	}
	.timeline>li.timeline-inverted>.timeline-panel {
		padding: 0 100px 20px 20px;
	}
}

.thumbnail {
	height: 410px;
}

.fix-height {
	overflow: hidden;
	height: 220px;
}

.eduImg {
	overflow: hidden;
	height: 250px;
}

.Error {
	border: 1.5px solid tomato;
}

.form-signin {
	max-width: 362px;
	padding: 15px;
	float: left;
	margin: 0 auto;
	width: 350px;
	height: auto;
	border-color: black;
	border:2px;
}



#copywrite {
	background: none repeat scroll 0 0 #394755;
	color: #D6DFE5;
}

#copywrite p {
	margin: 0;
	padding: 10px 0;
	float:left;
}

#footer {
	margin-top: 48px;
	background: none repeat scroll 0 0 #F1F1F1;
	color: #17405E;
	padding: 20px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#footer h3 {
	color: #308CCF;
	margin-bottom: 5px;
	text-transform: uppercase;
}

#footer ul {
	list-style: none outside none;
	margin: 0;
	padding-left: 2px;
}

#footer li {
	padding: 0 0 5px;
}

#footer a {
	color: #17405E;
	display: inline-block;
}

#footer a:hover {
	color: #333333;
	text-decoration: underline;
}


    .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
}
    .navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
        z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
        border-color: #ffffff;
        border-color: rgba(255, 255, 255, 0.2);
    }

.navbar-nav > .user-menu > .dropdown-menu > .user-body {
    padding: 15px;
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #dddddd;
}
.navbar-nav > .user-menu > .dropdown-menu, .navbar-nav > .user-menu > .dropdown-menu > .user-body {
    -ms-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -ms-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer {
  background-color: rgb(249, 249, 249);
    padding: 10px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: 145px;
  padding: 0px;
  text-align: center;
    background-color: #43b7f2;
    background-color: rgba(67, 183, 242, 0.92);
}
.skin-blue .main-header li.user-header {
    background-color: #43b7f2;
    background-color: rgba(67, 183, 242, 0.92);
}

.btn.btn-flat {
    -ms-border-radius: 0;
    border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
  border-width: 1px;
}

.btn-group-vertical .btn.btn-flat:first-of-type,
.btn-group-vertical .btn.btn-flat:last-of-type {
    -ms-border-radius: 0;
    border-radius: 0;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
    z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
    border-color: #ffffff;
    border-color: rgba(255, 255, 255, 0.2);
}

.img-circle {
    -ms-border-radius: 50%;
    border-radius: 50%;
}

    .img {
    vertical-align: middle;
}
    .navbar-custom-menu > .navbar-nav > li {
  position: relative;
}
@media (min-width: 768px) {
    .navbar-nav > li {
        float: left;
    }
}
.nav>li {
  position: relative;
  display: block;
}
.navbar-nav>.user-menu>.dropdown-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 5px 0 10px 0;
  border-top-width: 0;
  width: 280px;
}
