@{
    ViewBag.Title = "About";
}

<div id="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1><span><i class="fa fa-info-circle"></i></span>&nbsp;About <img alt="Happy Life" src="~/Images/img/logo1.png"></h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="content">
        <div class="">
            <div class="row">
                <div class="col-lg-10">
                    <h2> Our Mission </h2>
                    <p class="lead"> At Happy Life, our mission is to be the premier matrimonial site of the world. We do not believe that merely introducing people to each other should cost money because at the end of the day (lets be honest) our costs are not that high. </p>
                    <p class="lead">Users can freely upload their profiles, send requests to other users, share their contact details with as many users as they want without any charges. We developed this site after looking at the rediculous charges that other websites similar to this charge their users. </p>
                    <p class="lead"> If you would like to find out more about us please do drop us a note on info@happylife.com or say G'day on <a href="#">Facebook </a>, <a href="#">Twitter</a> or <a href="#">Google +</a></p>
                    <p class="lead"> If you are simply confused about what a matrimonial site actually is - there is a good explanation at <a href="http://en.wikipedia.org/wiki/Matrimonial_websites">Wikipedia</a></p>
                </div>
            </div>
        </div>
    </div>
</div>