@{
    ViewBag.Title = "Contact";
}

<div id="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1><span><i class="fa fa-envelope"></i></span>&nbsp;Contact Us</h1>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h2 class="nice_fnt"> Want general help with setting up your account or would like something added to this site? </h2>
                <p class="lead"> Email us at: <strong> support@happylife.com </strong> with your account details or go to our <a href="#">Facebook </a> or <a href="#">Twitter</a> pages </p>

                <h2 class="nice_fnt"> Want to find out more about us or would like to work with Happy Life? </h2>
                <p class="lead">
                    Email us at: <strong> info@happylife.com </strong>
                    <h2 class="nice_fnt"> Want to just say hello? </h2>
                <p class="lead">We would love to hear from you - please let us know how we are doing at <a href="#">Facebook </a>, <a href="#">Twitter</a> or <a href="#">Google +</a></p>

            </div>
        </div>
    </div>
</div>