@{
    ViewBag.Title = "FAQ's";
}

<div id="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1><span><i class="fa fa-comments"></i></span>&nbsp;Most Frequently Asked Questions</h1>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h2> What is Happy Life? </h2>
                <p> Happy Life is a matrimonial site which allows users to find someone that they think they are compatible with and would eventually like to marry by looking at profile details. Users can freely upload their profiles, send requests to other users, share their contact details with as many users as they want without any charges. We developed this site after looking at the rediculous charges that other websites similar to this charge their users. If you are simply confused about what a matrimonial site actually is - there is a good explanation at <a href="http://en.wikipedia.org/wiki/Matrimonial_websites">Wikipedia</a> </p>

                <h2> How do I create my profile? </h2>
                <p> You need to <a href="signup.jsp">Create an Account</a> on this website after which we will send you a link to your email address to verify your email address. After you have verified your email address you will be able to <a href="signin.jsp">Sign In</a> and create your matrimonial profile with photos that will be available to everyone. Each new profile needs to be approved by the administrator (usually in 48 hrs).</p>

                <h2> I forgot my password what do I do? </h2>
                <p> You need to go to <a href="#">Reset Password</a> and enter your email address. We will then send you a link to your email address which will allow you to reset your password</p>


                <h2> I entered in a wrong password and it now says my IP address is blocked, how can I unblock my account? </h2>
                <p> For security purposes, we block accounts which have entered in a wrong password 10 times in a row - if this has happened to you, please email support@Happy Life.com and we can help unblock your account</p>

                <h2> What does 'Express Interest' button do? </h2>
                <p> 'Express Interest' sends a message to that profile that you are interested and also shares your profile details with the other profile. The other profile can then either accept or reject your interest.</p>

                <h2> How do I know if someone has accepted my interest request? </h2>
                <p> If the person you have expressed interest in accepts your request, we will send an email to your registered email address. You can then <a href="signin.jsp">Sign In</a> back into the site to view the other person's contact details</p>

                <h2> How do I know if someone has expressed interest in my profile? </h2>
                <p> If someone expresses interest in your profile, we will notify you by email. However to avoid spamming our users, we have a policy to not send more than 1 email every 2 days so we urge you to <a href="signin.jsp">Sign In</a> to Happy Life regularly to see the interest requests for your profile</p>

                <h2> How do I stop receiving emails from HappyLife.apphb.com and stop other people viewing and expressing interest in my profile </h2>
                <p> You can go to your profile and 'Deactivate' your account. Once you deactivate your account, it will stop appearing in search results and other people will not be able to send you interest requests. We do not send emails to deactivated accounts</p>

            </div>
        </div>
    </div>
</div>
